:root {
    --branding-color: #66bfbf;
    --secondary-color: #eaf6f6;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
  }

  nav {
    background-color: var(--secondary-color);
  }
.catarinalogo {
    display: block;
    max-width: 70px;
  }

.nav-link {
    font-family:  var(--default-font-family);
    font-size: 16px;
    color: #272142;
}

.navbar .navbar-nav .nav-link.active, .nav-link:hover {
    color: var(--branding-color);
  }



.hero h1 {
    font-family:  var(--heading-font-family);
    font-size: 96px;
    line-height: 1.5;
}

.content-container {
    padding: 125px 60px;
 }
.content-container h1 {
    font-family:  var(--heading-font-family);
    font-size: 64px;
    line-height: 80px;
}

.content-container h2 {
    font-family:  var(--default-font-family);
    font-size: 18px;
}

.content-container h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}
.content-container p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    font-family:  var(--default-font-family);
}

.lisboa-img {
    max-width: 60%;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hero h4 {
    font-family:  var(--default-font-family);
    font-size: 36px;
    font-weight: bold;
}
.hero p{
    font-family: var(--default-font-family);
    font-size: 24px;
    margin-top: 24px;
}

.hero {
    text-align: center;
    background-color:  var(--secondary-color);
    padding: 100px;
}

.btn-secondary {
    padding: 18px 30px;
    border-radius: 4px;
    border-color: var(--branding-color);
    background: var(--branding-color);
    font-family: var(--default-font-family);
    font-size: 18px;
}
.project-description a {
    width: 300px;
    padding: 18px 30px;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--branding-color);
    text-decoration: none;
    color: var(--branding-color);
    font-family: var(--default-font-family);
    font-size: 16px;
 }

 h2 {
    font-family:  var(--heading-font-family);
    font-size: 64px;
 }

 p {
    font-family:  var(--default-font-family);
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    opacity: 0.7;
    text-align: center;
 }



 .project-description {
    padding: 125px 60px;
 }

 footer {
    margin: 60px 0;
 }

 footer .contact-box{
    background-color:  var(--secondary-color);
    border-radius: 20px;
    padding: 30px 120px;
 }
 footer .contact-box h3{
    font-size: 48px;
    font-family:  var(--default-font-family);
    font-weight: 700;
 }

 footer .contact-box p{
    font-size: 18px;
    font-family:  var(--default-font-family);
    margin:0;
    text-align: left;
 }

 footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    display: block;
    font-family: var(--default-font-family);
 }

 footer .email-link:hover {
    color: var(--branding-color);
 }

 footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background-color:  var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
  
 }

 footer .social-links a:hover {
    background-color:  var(--branding-color);
    color: var(--secondary-color);
 }

@media (max-width: 900px) {

    p {
        margin:0 ;
    }
    .remove-margin {
        margin-top: 0 !important;
      }
    
    .project-description {
        padding: 0;
        text-align: center;
    }
    
    a {
        text-align: center;
        margin: 0;
    }
    /*Adding display: block to the a selector will make it a block-level element, allowing you to apply a margin of 0 auto to center align it horizontally.
Updating the margin property to 0 auto will set the left and right margins to auto, which will horizontally center the a element.*/
    .content-container a{
        display: block; 
        margin: 0 auto;
    }


    h2 {
        font-size: 40px;
    }

    .hero p{
        font-size: 14px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero h4{
        font-size:20px ;
    }
    .content-container h1 {
        font-size: 40px;
        text-align: center;
    }

    .content-container h2 {
        text-align: center;
    }
    footer .email-link {
        font-size: 18px;;
    }
    .content-container {
        padding: 50px 30px;
     }

   
  }
